config SEC_VIBRATOR
	tristate "sec vibrator"
	default n
	help
	  If you say yes here you will get support for the
	  sec vibrator driver

config SEC_VIB_NOTIFIER
	tristate "use sec vibrator notifier"
	default n
	help
	  Enable notifier functions to get motor enable status
	  and timeout value by register notifiy
	  If you unsure, please select n
