config INPUT_HALL_IC
	tristate "Enable HALL IC"
	default n
	help
	  Enable Hall IC Feature

config HALL_NOTIFIER
	tristate "use hall ic notifier"
	depends on INPUT_HALL_IC
	default n
	help
	  Enable notifier functions to notify hall ic status

config HALL_LOGICAL
	tristate "use logical hall ic"
	depends on INPUT_HALL_IC
	default n
	help
	  Enable logical hall ic feature
	  It is used for pogo keyboard usually
