config DIRECT_CHARGING
	tristate "support for direct charging"
	help
	 Say Y to include support for direct charging
	 support for direct charging models.
	 Direct charging models should enable this charging option.
	 it include some charging scenario for direct charging models.


menu "Samsung Battery Common drivers"

config BATTERY_SAMSUNG
	tristate "samsung battery driver"
	help
	  Say Y to include support for samsung battery driver
	  This battery driver integrated all battery-related functions
	  To see battery-related functions,
	  refer to sec_charging_common.h

config CHARGING_VZWCONCEPT
	bool "VZW concept about the charging"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y here to enable
	  support for apply the VZW concepts.
	  VZW models should enable this charging option.
	  it include some charging scenario for VZW models.

config STEP_CHARGING
	bool "support for step charging"
	help
	  Say Y here to enable
	  support for step charging.
	  it could be used with direct charging.
	  it needs step charging tables.

config ENABLE_FULL_BY_SOC
	bool "make full by soc 100%"
	help
	default n
	  Say Y here to enable
	  support to make full charged by soc 100%.
	  If this is N in models,
	  battery common drivers make full by other conditions.

config SEC_PD
	tristate "support for sec pd"
	help
	 Say Y to include support for sec pd control module.
	 This sec_pd driver integrated all pdo related function.
	 To see pdo related functions,
	 refer to sec_pd.h

config UPDATE_BATTERY_DATA
	bool "support for updating battery data"
	default n
	depends on BATTERY_SAMSUNG && OF
	help
	  Say Y here to enable
	  support for update battery data.
	  This integrated load and parsing data functions again.
	  it need to battery data file for update.

config BATTERY_CISD
	bool "support for cisd"
	help
	  Say Y here to enable
	  support for CISD.
	  cisd means cell internal short detection.
	  it include some other detection.

config AFC_CHARGER_MODE
	bool "afc charging support in sec battery driver"
	default n
	help
	  Say Y here to enable
	  support for sec afc charging support
	  it includes some AFC charging options and
	  information about AFC charging.

config SAMSUNG_BATTERY_ENG_TEST
	bool "enable ENG mode for battery test"
	default n
	help
	  Say Y to include support for battery test
	  enable this feature only ENG mode
	  this featuren must disabled user binary
	  stability test etc..

config SAMSUNG_BATTERY_FACTORY
	bool "enable for factory test"
	default n
	help
	  Say Y to include support for factory test
	  enable this feature only factory mode
	  this featuren must disabled user binary
	  stability test etc..

config USE_POGO
	bool "enable pogo charging"
	default n
	help
	  Say Y here to enable
	  support POGO properties.
	  some models support POGO,
	  then it make Y.

config STORE_MODE
	bool "enable store mode"
	default n
	help
	  Say Y here to enable
	  support store mode charging concpet.
	  The LDU or RDU enable this STORE_MODE option,
	  it include some charging scenario for store.

config BATTERY_AGE_FORECAST
	bool "battery age forecast"
	default n
	help
	  Say Y here to enable
	  support AGE FORECAST functions.
	  it include some charging scenario for aged batteries.
	  it need age forecast charging tables.

config ENG_BATTERY_CONCEPT
	bool "enable temp block"
	default n
	help
	  Say Y here to enable
	  support CONFIG_ENG_BATTERY_CONCEPT.
	  It is for only in ENG bianry
	  USER binary should disalbe this.

config LIMIT_CHARGING_DURING_CALL
	bool "limit charging during call"
	default n
	help
	  Say Y here to enable
	  support limit charging during call.
	  some models support this for limiting charging current,
	  then it make Y.

config DUAL_BATTERY
    bool "DUAL BATTERY support"
    depends on I2C
    help
	  Say Y here to enable
	  support for dual battery.
	  This integrated all dual-battery related functions.
	  it needs dual battery tables.

config PREVENT_USB_CONN_OVERHEAT
    bool "enable prevent usb conn overheat"
    default n
    help
	  Say Y here to enable
	  support CONFIG_PREVENT_USB_CONN_OVERHEAT.
	  this is for prevent thermal usb conn.
	  it include some charging scenario for thermal usb conn.

config PD_CHARGER_HV_DISABLE
    bool "enable supporing disable high voltage pd charger"
    depends on BATTERY_SAMSUNG && I2C
    help
	  Say Y here to enable
	  supporting disable high voltage pd charger.
	  some models need this for support options that
	  not support high voltage.

config BATTERY_GKI
    bool "temporary support for GKI build"
    help
	  Say Y here to enable
	  support for module build normally.
	  this is temporary added for prevent build break in module build.
	  it will be deleted soon.

config SUPPORT_SHIP_MODE
    bool "support ship mode"
    default n
    help
	  Say Y here to enable
	  support to ship mode.
	  If this is N in models,
	  not support to ship mode.

endmenu

config SEC_BATTERY_VOTE_TEST
    bool "KUnit test for sec_battery_vote_test"
    depends on KUNIT
    help
    	  Say Y here to enable
	  for kunitest
          for sec_battery_vote_test

