config SEC_INPUT_BOOSTER
	tristate "SEC INPUT BOOSTER"
	depends on INPUT_EVDEV
	default n
	help
	  Say Y here if you enable input boosting for various input device
	  such as touch.

	  Say N here if you disable input boosting.

	  If unsure, say Y.

config SEC_INPUT_BOOSTER_QC
	bool "SEC INPUT BOOSTER QC"
	depends on SEC_INPUT_BOOSTER
	default n
	help
	  Say Y here if you enable input boosting of QC under QC chipset

	  Say N here if you disable input boosting of QC

	  If unsure, say N.

config SEC_INPUT_BOOSTER_SLSI
	bool "SEC INPUT BOOSTER SLSI"
	depends on SEC_INPUT_BOOSTER
	default n
	help
	  Say Y here if you enable input boosting of SLSI under SLSI chipset
	  such as touch.

	  Say N here if you disable input boosting of SLSI

	  If unsure, say N.

config SEC_INPUT_BOOSTER_MTK
	bool "SEC INPUT BOOSTER MTK"
	depends on SEC_INPUT_BOOSTER
	default n
	help
	  Say Y here if you enable input boosting of MTK under MTK chipset
	  such as touch.

	  Say N here if you disable input boosting of MTK

	  If unsure, say N.