menu "Wireless Charger drivers"

config WIRELESS_CHARGER_MFC
	tristate "MFC IC charger support"
	depends on BATTERY_SAMSUNG && I2C
	help
	  Say Y here, to enable
	  support for the MFC IC
	  MFC include wireless charger driver.
	  It is for IDT.

config WIRELESS_NO_HV
	bool "wireless no hv"
	depends on BATTERY_SAMSUNG && I2C
	help
	  Say Y here to enable
	  support for disable HV wireless charging.
	  If you are unsure, say N.
	  some models need this for not support high voltage wireless charging.

config CS100_JPNCONCEPT
	bool "cs100 command support"
	depends on BATTERY_SAMSUNG && I2C
	help
	  Say Y here to enable
	  support for CS100 command.
	  CS100 command is to stop when full-charged.
	  only JPN models need this charging concepts.

config WIRELESS_AUTH
	bool "support for samsung wireless authentication massage"
	default n
	depends on WIRELESS_CHARGER_MFC
	help
	  Say Y here to enable
	  support for wireless authentication message.
	  It is for samsung wireless authentication.
	  wireless charging flagship models should enable this option.

config WIRELESS_CHARGER_HIGH_VOLTAGE
	bool "high voltage wireless charger"
	default n
	depends on WIRELESS_CHARGER_MFC
	help
	  Say Y here to enable
	  support for wireless fast charging.
	  It is for fast wireless charging.
	  wireless charging flagship models should enable this option.

config WIRELESS_TX_MODE
	bool "wireless power sharing support in sec battery driver"
	default n
	depends on WIRELESS_CHARGER_MFC
	help
	  Say Y here to enable
	  support for wireless tx mode.
	  It is for wireless power sharing.
	  wireless tx support models should enable this option.

config WIRELESS_FIRMWARE_UPDATE
	bool "WIRELESS IC firmware update support"
	default n
	depends on WIRELESS_CHARGER_MFC
	help
	  Say Y here to enable
	  support for the wireless charger IC firmware update.
	  it need firmware bin in firmware folder.
	  It is for MFC IC.

config WIRELESS_IC_PARAM
	bool "WIRELESS IC info param support"
	depends on WIRELESS_CHARGER_MFC
	help
	  Say Y here to enable
	  support for the WIRELESS IC info param.
	  It is for wireless ic dualization.
	  such as use of IDT and LSI.

config TX_GEAR_PHM_VOUT_CTRL
    bool "control vout when gear`s phm"
    default n
    depends on WIRELESS_TX_MODE
    help
	  Say Y to enable CONFIG_TX_GEAR_PHM_VOUT_CTRL
	  Control vout 5v when enter gear`s phm with high voltage wired charging
	  Recover vout when escape gear`s phm
	  This is considered only if high vout with gear.

config TX_GEAR_AOV
    bool "control adaptive vout when tx gear"
    default n
    depends on WIRELESS_TX_MODE
    help
	  Say Y to enable CONFIG_TX_GEAR_AOV
	  AOV : Adaptive Operation Voltage
	  When tx gear, control vout adaptively.
	  This is for tx gear with thick cover.

config ENABLE_WIRELESS_IRQ_IN_SLEEP
	bool "support for enable irq in sleep"
	default n
	depends on WIRELESS_CHARGER_MFC
	help
	  Say Y here to enable
	  support for enable irq in sleep
	  In Qualcomm AP, wireless charging does not work,
	  when irq is disabled in sleep .

endmenu

