#
# USB PDIC common driver
#

comment "USB PDIC common configs"

config PDIC_NOTIFIER
	tristate "PDIC notifier support"
	depends on I2C
	default n
	help
	  If you say yes here you will get support for
	  the PDIC attached device status change notification.

config USB_ARCH_EXYNOS
	bool "Using exynos"
	default n
	help
	  If you say yes here you will get support for
	  using exynos.
	  For distinguish with Qcom

