if HWMON

config SENSORS_SEC_THERMISTOR
    tristate "SEC Thermistor support"
    default n
    help
      This driver supports SEC Thermistor sensor reading and its
      interpretation.

endif # HWMON
