config CHARGER_DUMMY
	bool "dummy charger driver"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y here to enable
	  support for dummy charger driver.
	  This driver source code implemented
	  skeleton source code for charger functions.

config CHARGER_MAX77705
	tristate "MAX77705 battery charger support"
	depends on BATTERY_SAMSUNG
	help
	  Say Y or M here to enable
	  support for the MAX77705 charger.
	  This includes boost mode.
	  This is Switching Mode Charger.

config MAX77705_CHECK_B2SOVRC
	bool "enable for check B2SOVRC"
	default n
	depends on CHARGER_MAX77705
	help
	  Say Y here to enable
	  support for CHARGER_MAX77705 check B2SCOVRC.
	  MAX77705 onply supports this checking options.
	  this is for MAX77705 monitoring B2SCOVRC.

