#
# SEC STAR platform devices
#

config STAR_MEMORY_LEAK
	bool "memory leak test in sec-star"
	help
	  memory leak test in sec-star.
	  All allocated memory are listed in array.

config STAR_K250A_LEGO
	tristate "S.LSI k250a driver"
	default n
	help
	  S.LSI k250a driver except ISO7816 protocol layer
	  This driver provides support for S.LSI k250a product.
